<template>
  <div id="app">
    <div class="container-fluid p-5">
      <h4 class="pt-3 ml-2 font-weight-bold text-primary">
        Information Records
      </h4>
      <p class="ml-2 text-muted">
        Here are the list of informations you've added.
      </p>
      <div class="row mt-5 justify-content-end">
        <div class="col-5 col-md-4 col-lg-3">
          <input
            type="text"
            id="searchbox"
            class="form-control mb-2"
            placeholder="Search Post"
          />
        </div>
        <router-link
          to="/info/create"
          class="btn btn-primary mb-2 mr-3"
          id="viewsummary"
          >Create</router-link
        >
      </div>
      <table class="table table-hover">
        <thead>
          <tr class="bg-primary text-light">
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(information, i) in informations" :key="i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ information.title }}</td>
            <td>{{ information.description }}</td>
            <td>{{ information.category.category }}</td>
            <td>
              <button
                class="btn btn-sm mr-2 btn-primary"
                v-on:click="updateInfo(information)"
              >
                Update
              </button>
              <button
                class="btn btn-sm mr-2 btn-secondary"
                v-on:click="viewInfo(information)"
              >
                View
              </button>
              <button
                class="btn btn-sm btn-danger"
                v-on:click="openDelete(information.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <b-modal id="delete-info" title="Delete Post" size="sm" @ok="deleteInfo">
        <p>Are you sure you want to delete this information?</p>
      </b-modal>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters({ informations: "getInformations" }),
  },
  data() {
    return {
      id: 0,
    };
  },
  methods: {
    viewInfo(information) {
      this.$router.push({
        name: "information",
        params: { slug: information.slug },
      });
    },
    updateInfo(information) {
      this.$router.push({ name: "update", params: { info: information } });
    },
    openDelete(id) {
      this.$bvModal.show("delete-info");
      this.id = id;
    },
    async deleteInfo() {
      console.log(this.id);
      const info = await this.$store.dispatch("deleteInfromation", this.id);
      if (info.status == 200) {
        await this.$store.dispatch("fetchInformations");
        this.$toast.success("Information was deleted successfully!");
      } else {
        this.$toast.error("Something went wrong");
      }
    },
  },
  async mounted() {
    await this.$store.dispatch("fetchInformations");
    await this.$store.dispatch("fetchCategories");
  },
};
</script>
