<template>
  <div>
    <div class="container-fluid mb-5 p-5">
      <div class="col-5 col-md-6 col-lg-6 p-0">
        <h4 class="font-weight-bold text-primary">All fields are required</h4>
        <p class="text-muted">
          You have the full control on how your information will appear.
        </p>
      </div>
      <div class="btn-container">
        <router-link to="/info/manage" class="btn btn-primary "
          >Return</router-link
        >
      </div>
      <div class="row">
        <div class="col-5 col-md-4 col-lg-4">
          <p class="mb-2 mt-4 text-uppercase font-weight-bold">Title</p>
          <input
            type="text"
            class="form-control"
            v-model="data.title"
            placeholder="Title of your info"
          />
          <p class="mb-2 text-uppercase font-weight-bold mt-2">Category</p>
          <select class="form-control custom-select" v-model="data.category_id">
            <option selected disabled>Please select a category</option>
            <option
              v-for="category in categories"
              :key="category.id"
              :value="category.id"
            >
              {{ category.category }}
            </option>
          </select>
        </div>
        <div class="col-7 col-md-6 col-lg-6 mt-4">
          <p class="mb-2 text-uppercase font-weight-bold">Description</p>
          <textarea
            class="form-control"
            id="description"
            v-model="data.description"
            rows="5"
          ></textarea>
        </div>
        <div class="col-7 col-md-6 col-lg-6 mt-4">
          <p class="mb-2 text-uppercase font-weight-bold">Featured Image</p>
          <VueFileAgent
            ref="vueFileAgent"
            @select="filesSelected($event)"
            :multiple="false"
            :maxSize="'5MB'"
            :deletable="true"
            :accept="'image/*,'"
            :theme="'grid'"
            @beforedelete="onBeforeDelete($event)"
            @delete="fileDeleted($event)"
            :errorText="{
              type: 'Invalid file type. Only image file is Allowed',
              size: 'Image should not exceed 5MB in size',
            }"
            v-model="fileRecords"
          ></VueFileAgent>
        </div>
        <div class="col-10 col-md-12 col-lg-12">
          <p class="mb-2 text-uppercase font-weight-bold mt-2">Post Content</p>
          <vue-editor
            id="editor"
            :customModules="customModulesForEditor"
            :editorOptions="editorSettings"
            :editorToolbar="customToolbar"
            useCustomImageHandler
            v-model="data.content"
            @image-added="handleImageAdded"
          />
          <button
            class="btn btn-success mt-4 mr-2"
            v-on:click.prevent="updatePost"
          >
            Update
          </button>
          <router-link to="/info/manage" class="btn btn-primary mt-4"
            >Cancel</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { VueEditor, Quill } from "vue2-editor";
import ImageResize from "quill-image-resize-vue";
import { ImageDrop } from "quill-image-drop-module";
export default {
  components: { VueEditor },
  data() {
    return {
      customModulesForEditor: [
        { alias: "imageDrop", module: ImageDrop },
        { alias: "imageResize", module: ImageResize },
      ],
      editorSettings: {
        modules: {
          imageDrop: true,
          imageResize: {},
        },
      },
      customToolbar: [
        [{ font: [] }],
        [{ header: [false, 1, 2, 3, 4, 5, 6] }],
        ["bold", "italic", "underline", "strike"],
        [
          { align: "" },
          { align: "center" },
          { align: "right" },
          { align: "justify" },
        ],
        ["blockquote", "code-block"],
        [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],
        [{ script: "sub" }, { script: "super" }],
        [{ indent: "-1" }, { indent: "+1" }],
        [{ color: [] }, { background: [] }],
        ["link", "image", "formula"],
        [{ direction: "rtl" }],
        ["clean"],
      ],
      data: {
        title: "",
        description: "",
        featured_image: "",
        category_id: 1,
        content: "",
      },
      uploadUrl: "/uploadFImage",
      fileRecords: [],
      fileRecordsForUpload: [],
    };
  },
  computed: {
    ...mapGetters({ categories: "getCategories" }),
  },
  methods: {
    ...mapActions(["fetchCategories", "updateInformation"]),
    filesSelected: function(fileRecordsNewlySelected) {
      var validFileRecords = fileRecordsNewlySelected.filter(
        (fileRecord) => !fileRecord.error
      );
      this.fileRecordsForUpload = this.fileRecordsForUpload.concat(
        validFileRecords
      );
    },
    handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
      var formData = new FormData();
      formData.append("image", file);
    },
    fileDeleted: function(fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
      }
    },
    onBeforeDelete: function(fileRecord) {
      var i = this.fileRecordsForUpload.indexOf(fileRecord);
      if (i !== -1) {
        this.fileRecordsForUpload.splice(i, 1);
        var k = this.fileRecords.indexOf(fileRecord);
        if (k !== -1) this.fileRecords.splice(k, 1);
      }
    },
    async updatePost() {
      if (this.data.title == "") return this.$toast.error("Title is required");
      if (this.data.description == "")
        return this.$toast.error("Description is required");
      if (this.data.category_id == "")
        return this.$toast.error("Category is required");
      if (this.data.content == "")
        return this.$toast.error("Content is required");
      if (this.fileRecordsForUpload.length == 0)
        return this.$toast.error("Featured Image is required");

      console.log(this.data.featuredImage);

      // console.log(this.fileRecordsForUpload)
      const res = await this.$refs.vueFileAgent.upload(
        `http://127.0.0.1:8000/api/uploadFeaturedImage?token=` +
          localStorage.getItem("auth"),
        { "x-csrf-token": this.token, "X-Requested-With": "XMLHttpRequest" },
        this.fileRecordsForUpload
      );

      this.data.featured_image = res[0].data;
      var data = {
        slug: this.data.slug,
        title: this.data.title,
        description: this.data.description,
        featured_image: this.data.featured_image,
        content: this.data.content,
        user_id: this.data.user_id,
        category_id: this.data.category_id,
      };
      const info = await this.updateInformation({
        data: data,
        id: this.data.id,
      });
      if (info.status == 200) {
        this.$router.push("/info/manage");
        this.$toast.success("Information was updated successfully!");
      } else {
        this.$toast.error("Something went wrong");
      }
    },
  },
  mounted() {
    this.data = this.$route.params.info;
    this.fetchCategories();
  },
};
</script>

<style></style>
