<template>
  <div class="" style="height: 100vh">
    <div class="container-fluid h-100">
      <h6
        class="font-weight-bold login-logo"
        style="position: fixed; top: 2rem; left: 2.8rem; z-index: 999"
      >
        INFORMATION KIOSK
      </h6>
      <div class="btn-container">
        <a
          href="#"
          class="btn btn-sm btn-outline-light rounded-pill"
          style="min-width: 75px; margin-right: 7px"
          v-on:click.prevent="changeState"
          >{{ isSignUp ? "Login" : "Sign Up" }}</a
        >
        <a
          href="/"
          class="btn btn-sm btn-outline-light rounded-pill"
          style="min-width: 75px"
          >Visit Site</a
        >
      </div>
      <div class="row d-flex h-100 justify-content-center align-items-center">
        <div class="col-sm-12 col-md-7 col-lg-8 h-100 st-mark">
          <div class="element-container">
            <img
              src="@/assets/images/logo.png"
              alt=""
              class="img-fluid"
              style="max-height: 20%; display: block; margin: 0 auto"
            />
            <h3
              class="mx-auto text-center pt-5 text-uppercase font-weight-bold"
              style="letter-spacing: 0.4px; color: rgb(43, 160, 230)"
            >
              Information Kiosk <br />
              Leyte Normal Univerity
            </h3>
            <h6 class="mx-auto text-center mt-3">
              Please log-in to your account to proceed
            </h6>
          </div>
        </div>
        <div
          v-if="!isSignUp"
          class="col-sm-12 col-md-5 col-lg-4"
          style="background: rgb(75, 85, 193); height: 100vh"
        >
          <div class="element-container">
            <img
              src=""
              alt=""
              class="img-fluid img-mobile"
              style="width: 60%; display: block; margin: 0 auto"
            />
            <p class="mx-auto text-center text-light lead">Welcome !</p>
            <p class="mx-auto text-center text-light lead">
              Sign-in to your account
            </p>
            <form>
              <div class="form-group lead">
                <p class="pt-3 text-light"><small>Email</small></p>
                <div class="d-flex align-items-center">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="email_address@gmail.com"
                    aria-describedby="Email Address"
                    v-model="login.email"
                    required
                  />
                </div>
              </div>
              <div class="form-group  lead">
                <p class="text-light"><small>Password</small></p>
                <div class="d-flex align-items-center">
                  <input
                    type="password"
                    class="form-control"
                    id="user_password"
                    placeholder="********"
                    v-model="login.password"
                    required
                  />
                </div>
                <button
                  type="button"
                  class="btn btn-info pr-3 pl-3 mt-4"
                  v-on:click.prevent="signIn"
                >
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- SIGN-UP --->
        <div
          class="col-sm-12 col-md-5 col-lg-4"
          style="background: rgb(75, 85, 193); height: 100vh"
          v-if="isSignUp"
        >
          <div class="element-container">
            <img
              :src="'/images/mobile_connection.svg'"
              alt=""
              class="img-fluid img-mobile"
              style="width: 60%; display: block; margin: 0 auto"
            />
            <p class="mx-auto text-center text-light lead">Sign Up !</p>
            <p class="mx-auto text-center text-light lead">
              We need your . . .
            </p>
            <div class="form-group text-light mt-3">
              Full Name
              <div class="d-flex align-items-center">
                <input
                  type="text"
                  v-model="data.name"
                  class="form-control text-dark"
                  placeholder="Juan Dela Cruz"
                />
              </div>
            </div>
            <div class="form-group text-light">
              Email Address
              <div class="d-flex align-items-center">
                <input
                  type="text"
                  class="form-control text-dark"
                  placeholder="sample_email@gmail.com"
                  aria-describedby="Email Address"
                  v-model="data.email"
                  required
                />
              </div>
            </div>
            <div class="form-group text-light">
              Password
              <div class="d-flex align-items-center">
                <input
                  type="password"
                  class="form-control text-dark"
                  id="user_password"
                  v-model="data.password"
                  placeholder="******"
                />
              </div>
            </div>
            <div class="form-group text-light">
              Verify Password
              <div class="d-flex align-items-center">
                <input
                  type="password"
                  class="form-control"
                  id="user_password"
                  v-model="data.confirm"
                  placeholder="******"
                />
              </div>
            </div>
            <div class="form-group text-light">
              Gender
              <div class="d-flex">
                <select
                  type="text"
                  class="form-control text-dark"
                  placeholder="sample_email@gmail.com"
                  aria-describedby="Email Address"
                  v-model="data.gender"
                  required
                >
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>
            <button
              type="button"
              v-on:click.prevent="signUp"
              class="btn btn-info btn-block rounded-pill mt-4"
            >
              {{ isLoading ? "Signing Up..." : "Sign Up" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      isSignUp: false,
      isLoading: false,
      data: {
        name: "",
        email: "",
        password: "",
        confirm: "",
      },
      login: {
        email: "",
        password: "",
      },
    };
  },
  async mounted() {
    const res = await this.$store.dispatch("checkUser");
    if(res.status == 200){
      this.$router.push('/info/manage')
    }
  },
  methods: {
    changeState() {
      this.isSignUp ? (this.isSignUp = false) : (this.isSignUp = true);
    },

    ...mapActions(["LogInUser", "SignInUser", "SignUpUser"]),

    async signIn() {
      this.validateFieldLogin();
      this.isLoading = true;

      if (this.isValidated) {
        const res = await this.LogInUser(this.login);
        if (res.status == 401) {
          this.$refs.login.reset();
          this.$toast.error("Login Failed!");
        } else if (res.status == 200) {
          this.$router.push("/info/manage");
          this.$toast.success("User logged in successfully");
        }
        this.isLoading = false;
      }
      this.isLoading = false;
    },

    async signUp() {
      this.validateFieldSignUp();

      this.isLoading = true;

      if (this.isValidated) {
        let userdata = {
          name: this.data.name,
          gender: "Male",
          email: this.data.email,
          password: this.data.password,
        };

        const res = await this.SignUpUser(userdata);
        if (res.status == 200) {
          this.$toast.success("Account created successfully!");
          this.clearFields();
        }
      } else {
        this.isLoading = false;
      }
    },

    validateFieldSignUp() {
      this.isValidated = false;
      this.isLoading = true;
      if (!this.isEmail(this.data.email)) {
        this.next = false;
        return this.$toast.error("A valid email is required");
      }
      if (this.data.email.trim() == "") {
        this.next = false;
        return this.$toast.error("Email is required");
      }
      if (this.data.password.trim() == "") {
        this.next = false;
        return this.$toast.error("Password is required");
      }

      if (this.data.confirm.trim() == "")
        return this.$toast.error("Please confirm your password");
      if (this.data.name.trim() == "")
        return this.$toast.error("First Name is required");

      this.isValidated = true;
      this.isLoading = false;
    },

    isEmail(input) {
      let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi;
      let isEmail = regEx.test(input);
      return isEmail;
    },

    validateFieldLogin() {
      if (!this.isEmail(this.login.email))
        return this.$toast.error("Please enter a valid email");
      if (this.login.password.trim() == "")
        return this.$toast.error("Please enter your password");

      this.isValidated = true;
    },
    clearFields(){
      this.data =  {
        name: "",
        email: "",
        password: "",
        confirm: "",
      }
    }
  },
};
</script>
<style>
.btn-container {
  position: fixed;
  z-index: 999;
  top: 1.2rem;
  right: 2.3rem;
}
.element-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.form-control {
  background: rgba(58, 68, 168);
  border: 0;
}

.form-control:focus {
  background: rgba(58, 68, 168);
  border-color: rgb(20, 208, 233) !important;
  box-shadow: 0 0 0 0.2rem rgba(20, 208, 233, 0.459);
}
</style>
