<template>
  <div class="" id="app">
    <Sidebar />
    <div class="content-container">
      <router-view name="manage"></router-view>
      <router-view name="create"></router-view>
      <router-view name="update"></router-view>
      <router-view name="delete"></router-view>
    </div>
  </div>
</template>

<script>
import Sidebar from "@/components/Sidebar.vue";
export default {
  components: {
    Sidebar,
  },
  async mounted() {
    const res = await this.$store.dispatch("checkUser");
    if(res.status == 401){
      localStorage.removeItem("auth");
      this.$router.push('/login')
    }
  }
};
</script>
