<template>
  <div class="home">
    <div class="nav">
      <a href="/">
      <svg class="navlogo" id="Capa_1" enable-background="new 0 0 510 510" height="120" viewBox="0 0 510 510" width="120" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <linearGradient id="lg1">
          <stop offset="0" stop-color="#dc4955"/>
          <stop offset="1" stop-color="#c4237c"/>
        </linearGradient>
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="145.366" x2="320.302" xlink:href="#lg1" y1="171.467" y2="346.403"/>
        <linearGradient id="lg2">
          <stop offset="0" stop-color="#e38523"/>
          <stop offset="1" stop-color="#c4237c"/>
        </linearGradient>
        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="126.431" x2="294.539" xlink:href="#lg2" y1="176.636" y2="344.744"/>
        <linearGradient id="lg3">
          <stop offset="0" stop-color="#8a1958" stop-opacity="0"/>
          <stop offset="1" stop-color="#8a1958"/>
        </linearGradient>
        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="254.919" x2="254.919" xlink:href="#lg3" y1="390.226" y2="493.819"/><linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="155.73" x2="300.851" xlink:href="#lg3" y1="86.27" y2="231.391"/><linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="254.166" x2="254.944" xlink:href="#lg1" y1="509.681" y2="510.459"/><linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="439.575" x2="316.766" xlink:href="#lg3" y1="525.425" y2="402.616"/><linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="171.023" x2="325.895" y1="256.869" y2="411.741"><stop offset="0" stop-color="#f7e07d"/><stop offset="1" stop-color="#e69642"/></linearGradient><linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="49.879" x2="106.487" xlink:href="#lg2" y1="136.5" y2="193.108"/><linearGradient id="lg4"><stop offset="0" stop-color="#d52c1c" stop-opacity="0"/><stop offset=".28" stop-color="#d12c1e" stop-opacity=".28"/><stop offset=".5735" stop-color="#c42c23" stop-opacity=".574"/><stop offset=".8721" stop-color="#af2b2c" stop-opacity=".872"/><stop offset="1" stop-color="#a42b31"/></linearGradient><linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="255" x2="255" xlink:href="#lg4" y1="393" y2="482.051"/><linearGradient id="SVGID_10_" gradientUnits="userSpaceOnUse" x1="229.331" x2="303.88" xlink:href="#lg4" y1="363.331" y2="288.782"/><g><path d="m346.915 71.087c-26.218-42.025-57.853-71.087-91.915-71.087-73.585 0-135.851 135.628-156.621 244.605-4.839-4.975-9.447-10.386-13.786-16.21-16.222-21.773-50.56-13.819-55.229 12.929-2.264 12.972-3.437 26.319-3.418 39.944.174 126.388 101.59 228.005 227.726 228.713.443.004.884.02 1.328.02.092 0 .182-.004.274-.004.113 0 .224.004.337.003 126.222-.329 228.443-102.754 228.443-229.053 0-93.813-56.4-174.446-137.139-209.86z" fill="url(#SVGID_1_)"/><path d="m374.667 331.191c0 68.954-53.577 124.853-119.667 124.853s-119.667-55.898-119.667-124.853 53.577-199.734 119.667-199.734 119.667 130.78 119.667 199.734z" fill="url(#SVGID_2_)"/><path d="m48.553 380.613c36.762 76.346 114.569 128.86 205.119 129.367.443.004.884.02 1.328.02.092 0 .182-.004.274-.004.113 0 .224.004.337.003 90.521-.236 168.692-52.984 205.675-129.387h-412.733z" fill="url(#SVGID_3_)"/><g><path d="m177.27 280.946c75.141 0 136.054-87.829 136.054-196.172 0-.081 0-.161 0-.242-.011-12.906 12.9-21.734 24.922-17.042 2.92 1.14 5.808 2.343 8.668 3.597-26.217-42.025-57.852-71.087-91.914-71.087-73.585 0-135.851 135.628-156.621 244.605 22.252 22.876 49.48 36.341 78.891 36.341z" fill="url(#SVGID_4_)"/><path d="m253.672 509.98c.443.004.884.02 1.328.02.092 0 .182-.004.274-.004-.536.001-1.068-.013-1.602-.016z" fill="url(#SVGID_5_)"/></g><path d="m464.772 373.036-91.316-91.315c-13.58-15.56-32.1-24.631-52.544-25.627-1.272-.062-2.56-.094-3.829-.094-20.264 0-39.394 7.809-53.865 21.989-2.458 2.408-5.559 5.791-7.647 8.458 0 0-6.343-7.037-7.791-8.457-14.471-14.18-32.6-21.99-52.864-21.99-1.269 0-2.557.031-3.829.094-21.628 1.054-41.111 11.135-54.86 28.386-14.846 18.628-20.92 43.009-16.666 66.892 4.838 27.155 20.397 53.373 46.296 78.092l80.342 80.342c2.482.093 4.971.161 7.473.175.443.004.884.02 1.328.02.092 0 .182-.004.274-.004.113 0 .224.004.337.003 93.481-.245 173.784-56.496 209.161-136.964z" fill="url(#SVGID_6_)"/><path d="m255 484.054c-5.001 0-10.01-1.184-14.485-3.424-13.525-6.769-39.938-21.284-64.853-42.443-32.412-27.526-51.623-57.071-57.1-87.816-4.255-23.883 1.82-48.264 16.666-66.892 13.749-17.251 33.232-27.332 54.86-28.387 1.272-.062 2.56-.093 3.829-.093 20.263 0 39.393 7.809 53.864 21.99 2.614 2.562 5.024 5.279 7.219 8.132 2.196-2.853 4.606-5.571 7.22-8.133 14.47-14.18 33.6-21.989 53.865-21.989 1.269 0 2.557.031 3.829.093 21.628 1.054 41.112 11.136 54.861 28.388 14.846 18.627 20.919 43.008 16.664 66.891-5.477 30.744-24.688 60.29-57.1 87.815-24.914 21.159-51.326 35.674-64.853 42.443-4.476 2.242-9.485 3.425-14.486 3.425z" fill="url(#SVGID_7_)"/><circle cx="69.378" cy="156" fill="url(#SVGID_8_)" r="29.5"/><path d="m128.571 380.613c9.713 19.928 25.457 39.202 47.091 57.575 24.915 21.159 51.327 35.674 64.853 42.443 4.476 2.24 9.485 3.424 14.485 3.424 5.001 0 10.01-1.184 14.485-3.424 13.527-6.769 39.938-21.284 64.853-42.443 21.634-18.373 37.378-37.647 47.091-57.575z" fill="url(#SVGID_9_)"/><path d="m254.999 398.332c-31.262-31.262-31.262-81.948 0-113.211-2.195-2.853-4.605-5.571-7.219-8.132-14.471-14.18-33.6-21.99-53.864-21.99-1.269 0-2.557.031-3.829.094-21.628 1.054-41.111 11.135-54.86 28.386-14.846 18.628-20.92 43.009-16.666 66.892 5.477 30.745 24.689 60.29 57.1 87.816 24.915 21.159 51.327 35.674 64.853 42.443 4.476 2.24 9.485 3.424 14.485 3.424 5.001 0 10.01-1.184 14.485-3.424 9.487-4.748 25.314-13.31 42.514-25.297z" fill="url(#SVGID_10_)"/></g></svg>
      </a>
      <p class="text-muted">Info Sys.</p>
    </div>
    <div class="loader" v-if="isLoading">
      <div class="lds-ripple">
        <div></div><div></div>
      </div>
    </div>
    <div class="container-main pb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6 col-md-4 col-lg-3">
            <input type="text" class="form-control shadow-sm rounded-pill" placeholder=" Search...">
            <div class="card p-4 mt-5">
              <h5 class="font-weight-bold text-primary mb-3">Categories</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" v-for="(c, i) in categories" :key="i">{{c.category}}</li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-8 ml-5" v-for="(info, i) in singleinfo" :key="i">
              <img :src="'http://127.0.0.1:8000/uploads/' + info.featured_image" class="card-img-top" alt="..." width="400">
              <div class="card-body">
                <p class="card-subtitle mb-2 text-muted">{{info.created_at | moment}}</p>
                <h5 class="card-title mb-1">{{info.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{info.category.category}}</h6>
                <p class="card-text">{{info.description}}</p>
                <div class="ql-snow">
                  <div class="ql-editor">
                    <div v-html="info.content"></div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import moment from 'moment';

export default {
  data(){
    return {
      isLoading: false,
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm a');
    }
  },
  async mounted() {
    this.isLoading = true
    this.$store.dispatch('fetchCategories');
    const res = await this.$store.dispatch('findInfo', this.$route.params.slug)
    if(res.status == 200){
      document.documentElement.scrollTop = 0;
      document.body.scrollTop = 0; 
      this.isLoading = false 
    }
    else {
      document.documentElement.scrollTop = 0;
      document.body.scrollTop = 0; 
      this.isLoading = false 
    }
  },
  methods: {

  },
  computed: {
    ...mapGetters({categories: 'getCategories'}),
    ...mapGetters({
      singleinfo: 'getSingePost'
    }),
  }
}
</script>
