@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0 !important;
}

html, body{
  font-size: .95rem !important;
  height: 100%;
  background-color: #f7f7f7;
}

.card-link {
  text-decoration: none;
  color: #000;
}

.card {
  transition: all 250ms;
}

.card:hover{
  transform: translateY(-2px);
  box-shadow: 2px 3px 10px rgba(80, 128, 134, 0.199);
}

.card:hover(:not()){
  transform: scale(.9);
}

.card-link:hover {
  color: #000;
}

.loader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  background-color: #fff;
  z-index: 99999;
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  background-image: linear-gradient(to bottom, #1ad8e6, #1f75f5, #5817f0);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


.svg-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  margin-top: 5rem;
}

.logo-text {
  padding-bottom: 3rem;
  font-size: 1.4rem;
  text-align: center;
}

.nav {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 999;
  box-shadow: 0px 3px 10px #617f8338;
}

.navlogo {
  position: relative;
  height: 35px;
  width: 50px;
  top: 50%;
  margin-left: 15px;
  transform: translateY(-50%);
}

.nav p {
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-top: 15px;
  font-family: 'Anton', sans-serif;
}

.container-main {
  margin-top: 130px;
  background-color: #f7f7f7;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 245px;
  background-image: linear-gradient(to bottom, #0091EA, #00B0FF, #40C4FF);
  overflow-x: hidden;
  overflow-y: auto;
  color: #fff;
  font-size: 16px;
  transition: all 250ms;
}

.sidebar a{
  display: block;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif !important;
}

.sidebar a:hover{
  text-decoration: none;
  color: #f7f7f7;
  background-color: #706d65a4;
}

.active {
  background-color: #535661a4;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1.2%;
  background-color: #fff;
}

.content-container {
  margin-left: 260px;
  margin-top: 20px;
  margin-right: 10px;
}